@import "reset.css";

@font-face {
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NotoSansKR-Regular.otf");
}

@font-face {
  font-family: "pretendard";
  src: url("/fonts/Pretendard-Regular.otf");
}

/* -------------------공통 스타일링 */

body {
  font-family: "Noto Sans KR";
  font-size: 13px;
  font-weight: 400;

  margin: "0";
  padding: "0";

  background-color: #f6f6f6;
}
a {
  text-decoration: none;
  word-break: keep-all;
  color: #404152;
}

p {
  color: #404152;
  font-size: 14px;
  font-weight: 400px;
  word-break: keep-all;

  line-height: 150%;
}

button {
  word-break: keep-all;
}

.container {
  width: 100vw-40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #fff;
  padding: 0px 20px 20px 20px;
}
._noLabel {
  padding: 20px;
}

.container .HStack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 10px;

  /* background: gray; */
  width: 100%;
}

.container .fullScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  height: calc(100vh - 160px);
  padding-bottom: 50px;
}
.label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: #fff;
  margin-bottom: 10px;
  width: 100%;
  height: 30px;
}
.label p {
  font-weight: 700;
}
.container > .label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  font-weight: 700;
  /* background: gray; */
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 30px;
}
.label.alignCenter {
  justify-content: center;
}

.spacer {
  flex-grow: 1;
}

.VSpacer {
  height: 10px;
}
.HSpacer {
  flex-grow: 1;
}

hr {
  background: #d9d9d9;
  border: 0px;
  height: 1px;
}
/* hr 안보일 때 사용 */
.Hline {
  background: #d9d9d9;
  width: 100%;
  border: 0px;
  height: 1px;
}

._fullW {
  width: 100%;
}
._fullH {
  height: 100%;
}

/* 버튼 스타일 */
button {
  padding-right: 10px;
  padding-left: 10px;
}
/* button:disabled {
  opacity: 0.5;
} */
/* fontSize: 16 */
.btnS_black {
  font-size: 16px;
  background: #404152;
  color: #fff;
  border: 1px solid #323343;
  border-radius: 4px;
  height: 40px;
  min-height: 40px;
}
.btnS_LGray {
  font-weight: 600;
  outline: 1px solid #c2c2c2;
  border-radius: 4px;
  background: #ebebeb;
  height: 40px;
  min-height: 40px;
}
.btnS_gray {
  font-size: 16px;
  background: #7d7e98;
  color: #fff;
  border: 2px solid #70718b;
  border-radius: 4px;
  height: 40px;
}

.btnS_white_rounded {
  background: #f5f5f5;
  border-radius: 15px;
  min-width: 200px;
  height: 30px;
}
/*   // 자동사료급이기 */
.box_white_fullRounded {
  background: #f5f5f5;
  border-radius: 20px;
  height: 40px;
  font-size: 12px;
  text-align: center;
  line-height: 40px;
}
/* btnS_small */
.btnS_black_small {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  outline: 1px solid #323343;
  border-radius: 4px;
  background: #404152;

  min-width: 105px;
  height: 30px;
}

.btnS_gray_small {
  font-size: 14px;
  font-weight: 500;
  background: #7d7e98;
  color: #fff;
  border: 1px solid #70718b;
  border-radius: 4px;

  min-width: 80px;
  height: 30px;
}

.btnS_LGray_small {
  font-size: 14px;
  font-weight: 500;
  outline: 1px solid #c2c2c2;
  border-radius: 4px;
  background: #ebebeb;

  min-width: 80px;
  height: 30px;
}

.btnS_white_small {
  font-size: 14px;
  font-weight: 500;
  outline: 1px solid #c2c2c2;
  border-radius: 4px;
  background: #fff;

  min-width: 80px;
  height: 30px;
}

.btnS_blue_small {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  outline: 1px solid #02a5d3;
  border-radius: 4px;
  background: #08baed;

  /* min-width: 105px; */
  height: 30px;
}

/* 가로정렬 */
.rowStartWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.rowCenterWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.rowEndWrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;

  padding: 10px 20px 10px 20px;
}
.rowBtwWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
/* 세로정렬 */
.colWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;

  width: 100%;
}
.colStartWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 10px;

  padding: 10px;
  width: 100%;
}

/* 화면에 고정 */
.fixedPosBtnwrapper {
  position: fixed;
  width: 100vw;
  padding: 0px 20px 0px 20px;
  bottom: 30px;
}
.fixedPosBtnwrapper > button {
  width: 100%;
  margin-top: 15px;
}

/* 드롭다운 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: url(/images/dropdownArrow.png) no-repeat right 10px center;
  outline: 1px solid #d9d9d9;
  border: none;
  border-radius: 4px;

  /*  */
  background-color: #fff;
  font-size: 14px;
  padding: 0 24px 0 12px;
  height: 40px;
  min-width: 60px;
}
select::-ms-expand {
  display: none;
}

.miniDropdown {
  height: 30px;
  font-size: 14px;
  font-weight: 500;
  padding-left: 0 10px 0 10px;
  min-width: 78px;
}

.centerAlinedDropdown {
  padding-left: 0;
  background: url(/images/dropdownArrow.png) no-repeat 96% 50%;
  background-color: #fff;
  text-align: center;
}

/* 인풋 */
input[type="text"],
input[type="number"] {
  background: #f5f5f5;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 13px 0 13px;
  min-width: none;
  width: 100%;
  height: 40px;
  text-align: start;
  color: #404152;
}
input::placeholder {
  color: #a9aab4;
}
/*  */
.inputWrapper {
  position: relative;

  align-items: center;
}
.inputWrapper input {
  padding-right: 30px;
}
.inputWrapper p {
  position: absolute;
  right: 10px;
  top: 0;
  line-height: 40px;
}
.inputWithUnitWrapper {
  position: relative;
}

input[type="checkbox"] {
  width: 18px;
  min-width: 18px;
  height: 18px;
  background: #fff;

  margin: 0;
}
/*radio 버튼 색상변경 */
input[type="radio"] {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #bdbdbd;
  border-radius: 50%;
  outline: none;
  background: #fff;
}
input[type="radio"]:before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}
input[type="radio"]:checked:before {
  background: #08baed;
}

/* input:focus {
  background-color: #0cab7c;
  outline: 1px solid #323343;
} */

.unit {
  position: absolute;
  right: 10px;
}

/* 토글 */
.tglBtn {
  background: #f5f5f5;
  border: 1px solid #e6e6e6;
  color: #a9aab4;

  height: 30px;
  line-height: 30px;

  font-size: 16px;
  text-align: center;
  border-radius: 4px;
}

/* 헤더 */
.head {
  width: 100vw;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #f3f3f3;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;
}
.head p {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.head .iconL {
  position: absolute;
  left: 0;
  margin-left: 15px;
}
.head .iconR {
  position: absolute;
  right: 0;
  margin-right: 15px;
}

/* 탭1 수정 */
.tab_menu {
  position: relative;
  width: 100vw;
}
.btnList {
  display: flex;
}

.tabBtn {
  /* border: 1px solid #c2c2c2;
  background: #ebebeb; */

  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 50px;
}
.tabBtn a {
  color: #404152;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.5;
}
.tabBtn div {
  display: none;
  position: absolute;
  background: #08baed;

  width: 33%;
  height: 4px;

  top: 46px;
}

.tab_inner_wrap {
}

.tab_inner {
  display: none;
}

/*  */
.tabBtn.active {
  background: #fff;
  border-bottom: 1px solid #fff;
}
.tabBtn.active a {
  opacity: 1;
  font-weight: 700;
}
.tabBtn.active div {
  display: block;
}
.tab_inner.active {
  display: block;
}

/* 탭2 */
.btnList2 {
  display: flex;
  padding: 0 20px 0 20px;
}

.tabBtn2 {
  border: 1px solid #e6e6e6;
  background: #f5f5f5;
  border-radius: 4px 4px 0 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 36px;
}
.tab_inner2_wrap {
  padding: 10px 20px 10px 20px;
}

.tab_inner2 {
  display: none;
}

.tabBtn2.active {
  background: #fff;
  border: 1px solid #c2c2c2;
  border-bottom: 1px solid #fff;
}

.tab_inner2.active {
  display: block;
}
/* 라디오 배치 */
.radioBtnWrapper {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}
.radioBtnWrapper > div {
  display: flex;
  direction: row;
  align-items: center;
  gap: 8px;

  font-size: 16px;
  font-weight: 700;

  margin-bottom: 10px;
}
.radioBtnWrapper > :last-child {
  gap: 2px;
}
.radioContainer {
  display: none;
  padding: 16px 10px 16px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.radioContainer.active {
  display: flex;
}
.radioContainer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  flex-grow: 1;

  position: relative;
  width: 100%;
}
.radioContainer div > p {
  size: 14px;
  font-weight: 700;
}
.radioContainer div > div {
  width: 100%;
  flex-grow: 1;
}
.radioContainer div > div > input {
  padding-right: 10px;
}
.radioContainer div > div > p {
  position: absolute;
  line-height: 40px;
  right: 10px;
}

/* 필드요소 */
.fieldContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;

  width: 100%;
}

.fieldContents > div {
  display: grid;
  grid-template-columns: 1fr 4fr;

  min-height: 40px;
}

.fieldContents > div :first-child {
}

.fieldContents > div :last-child {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* 하단 탭바 */
.botTabBar {
  position: fixed;
  z-index: 5;
  bottom: 0;

  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px; */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  width: 100%;
  height: 80px;

  border-top: 1px solid #f3f3f3;
  background: #fff;
}

.botTabBar div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.botTabBar a {
  opacity: 0.3;
}
.botTabBar .active a {
  opacity: 1;
}

/* 모달 창 */
.modalBoxWrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);

  flex-direction: column;
  align-items: center;

  padding: 90px 20px 0 20px;
  z-index: 10;

  width: 100%;
  height: 100%;
}
.modal {
  /* padding: 0px 12px 0px 12px; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 20px;
  background: #fff;
  /* background: #d9d9d9; */
  /* border: 1px solid #d9d9d9; */
  border-radius: 15px;

  width: calc(100%);
  overflow-x: hidden;
}
.modal > p {
  font-size: 16px;
  font-weight: 700;

  margin: 16px 0 16px 0;
}
.modal > button {
  background: #08baed;
  border: 1px solid #049bc7;
  color: #fff;
  font-size: 16px;
  font-weight: 500;

  width: calc(100% + 40px);
  height: 40px;
}
.modalBody {
  width: 100%;
  padding: 10px;

  border-top: 1px solid #d9d9d9;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalBody.extraP {
  padding: 10px 20px 10px 20px;
}
.modalGap {
  width: calc(100vw - 40px);
  min-height: 10px;

  background: #f5f5f5;
}
.closePopup {
  width: "30px";
  height: "30px";
}

/* 플로팅 버튼 */
.floating-btn {
  width: 60px;
  height: 60px;
  border-radius: 30px;

  position: fixed;
  right: 10px;
  bottom: 90px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #08baed;
  border: #0faad7;
}
.floating-btn div {
  display: flex;
  flex-direction: column;
}
.floating-btn div a {
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  margin-top: 3px;
}

/* 횡스크롤 달력 */
.rowCalendar {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  /* margin-top: 10px; */
  background: #fff;
}
.rowCalendar .YMSelector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: inherit;
}
.rowCalendar .YMSelector div {
  margin: 20px;

  display: flex;
  flex-direction: row;
  gap: 15px;
}
.rowCalendar .YMSelector div .year {
  width: 90px;
}
.rowCalendar .YMSelector div .month {
  width: 65px;
}
.rowCalendar .YMSelector button {
  margin: 20px;
}

.rowCalendar .DSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  /* gap: 3px; */

  width: inherit;
  overflow-x: scroll;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 26px;
}
.rowCalendar .DSelector div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-grow: 1;

  width: 32px;
  margin: 8px;
  /* background: gray; */
}
.rowCalendar .DSelector div > :nth-child(2) {
  text-align: center;
  line-height: 30px;

  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.rowCalendar .DSelector > :first-child {
  color: #f8876e;
}
.rowCalendar .DSelector > :last-child {
  color: #6ec6f8;
}
.rowCalendar .DSelector div > :first-child {
  font-size: 10px;
}
.rowCalendar .DSelector div > :nth-child(2) {
  font-size: 16px;
}
.DSelector .selected > :nth-child(2) {
  background: #404152;
  color: #fff;
  border-radius: 15px;
}

/* 상태별 색상 */
.normal {
  background-color: #0cab7c;
  color: #fff;
}
.alert {
  background-color: #fdd751;
  color: #404152;
}
.danger {
  background-color: #f46242;
  color: #fff;
}
.red {
  color: #f46242;
}

/* 보더박스 */
.simpleGrid0 {
  outline: 1px solid #d9d9d9;
  border-radius: 4px;
}
/* 그리드 1 // 사용): 수조정보 등 */
.simpleGrid1 {
  outline: 1px solid #d9d9d9;
  border-radius: 4px;

  display: flex;
  flex-direction: row;

  width: 100%;
  min-height: 75px;

  overflow: hidden;
}

.simpleGrid1 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  gap: 10px;

  outline: 1px solid #d9d9d9;
  border-collapse: collapse;
  height: 75px;
}
.simpleGrid1 div p {
  text-align: center;
}

.simpleGrid1 div > :first-child {
  font-weight: 700;
}

/* 그리드2 // 3*2 */
.simpleGrid2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  outline: 1px solid #d9d9d9;
  border-radius: 4px;
  overflow: hidden;
}
.simpleGrid2 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;

  outline: 1px solid #d9d9d9;
}
.simpleGrid2 .standard {
  min-height: 75px;
}
.simpleGrid2 .standard > :first-child {
  font-weight: 700;
  font-size: 16px;
}
.simpleGrid2 .standard > :last-child {
  font-size: 12px;
}

.simpleGrid2 .gridTSizeN {
  font-weight: 400;
  font-size: 12px;
  gap: 5px;
  min-height: 75px;
}
.simpleGrid2 .gridTSizeB {
  font-weight: 700;
  font-size: 16px;
  gap: 5px;
  min-height: 75px;
}
.simpleGrid2 .fullCol {
  grid-column: 1 / span 3;
  grid-row: span;
  width: 100%;

  padding: 14px;

  /* padding: 0 15px 0 15px; */
}
.simpleGrid2 .fullCol .gridlabel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background: gray; */

  padding-bottom: 0;

  width: 100%;
}
.fullCol .gridlabel:first-child {
  font-size: 16px;
  font-weight: 700;
}

.fullCol > div {
  outline: none;
  /* padding: 14px; */
}

/* 카드형 그리드 */
.cardGrid {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, auto));
  grid-template-rows: repeat(5, minmax(50px, auto));
  grid-auto-flow: dense; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;

  width: 100%;
}

.cardGrid > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  flex: auto;
  flex-basis: 0px;
  /* flex-grow: auto; */

  outline: 1px solid #d9d9d9;
  border-radius: 4px;
  min-width: 120px;
  height: 120px;
}

/* 표 */
table {
  outline: 1px solid #d9d9d9;
  border-radius: 4px;
  /* text-align: center; */
  vertical-align: center;

  overflow: hidden;
  width: 100%;
}
tr {
  border-bottom: 1px solid #d9d9d9;
}
tr:nth-child(2n + 3) {
  background: #f5f5f5;
}
td :nth-child(2n + 0) {
  background: #f5f5f5;
}
table :last-child {
  border-bottom: none;
}
th,
td {
  height: 45px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
}
th {
  font-weight: 700;
}
/*  */
.oneLinedTable tr th {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;
}
.oneLinedTable tr td {
  padding: 0 15px 0 15px;
  text-align: start;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.oneLinedTable p {
  margin: 0 5px 0 5px;
  background: none;
}
.oneLinedTable input {
  width: 18px;
  height: 18px;

  background: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 0;

  margin-right: 14px;
}
.oneLinedTable th > input {
  position: absolute;

  left: 16px;
}

/* 아코디언 */
.accorWrapper {
  width: 100%;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  /* box-sizing: border-box; */
}

.accorClip {
  position: relative;
  padding: 7px 20px 7px 20px;
  cursor: pointer;
  font-size: 14px;
  background: #ededed;
  border-bottom: 1px solid #d9d9d9;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.accorClip > p {
  font-weight: 700;
}

.accorClip .tag_black {
  color: white;
  background: #404152;
  border: #323343;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 26px;
  border-radius: 4px;

  margin-right: 10px;
}

.accorClip::before {
  display: inline-block;
  font-size: 14px;
  margin: 0 5px;
}
/* 아코디연 클릭시 */
.accorClip.on {
  background: #fff;
}

.accorClip .arrowT {
  display: none;
}

.accorClip .arrowB {
  display: block;
}

.accorClip.on .arrowT {
  display: block;
}

.accorClip.on .arrowB {
  display: none;
}

.accorWrapper .accorClip:last-of-type {
  border-bottom: none;
  background: #000;
}

.accorContent {
  display: none;
  overflow: hidden;
  font-size: 14px;
  background-color: #fff;
  padding: 27px 0;
}
.accorContent > div {
  padding: 0 15px 0 15px;
}

.accorContent::before {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #666;
  margin: 0 5px;
}

.arrow-wrap {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}

.accorClip .arrow-top {
  display: none;
}
.accorClip .arrow-bottom {
  display: block;
}
.accorClip.on .arrow-bottom {
  display: none;
}
.accorClip.on .arrow-top {
  display: block;
}

/* -------------------화면 별도 스타일링 */

/* 스플래시 스크린*/
.logo {
  width: "160px";
  height: "63.5px";
}

.catchphrase {
  font-family: "pretendard";
  font-size: 16px;
  font-weight: bold;

  margin-top: 26px;
  margin-bottom: 4px;
}

.greenBox {
  position: absolute;
  background-color: #0cab7c;
}
.blueBox {
  position: absolute;
  background-color: #08baed;
}
.blackObj {
  background-color: #404152;
}
.grayObj {
  background-color: #f3f3f3;
}

/* 스플래시 화면 */
.titleBox {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: #fff;
}

.titleBox .vertical {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* 마이양식장 */
.nurseryStatus {
  background: #fff;
  padding: 20px;
}

.totalStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.totalStatus div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}
.totalStatus div > p {
  margin-right: 0.6em;
  font-weight: 400;
}
.totalStatus div div {
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  text-align: center;
}
.totalStatus div .small {
  width: 16px;
  height: 16px;
}

.nurseryGroup {
  background: #fff;
  padding: 0 20px 20px 20px;
}

.nurseryGroup p {
  font-size: 16px;
  font-weight: 700;
  text-align: center;

  margin-top: 13px;
  margin-bottom: 10px;
}

.nurseryGroup div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: inherit;

  justify-content: center;

  gap: 13px;
}

.nurseryGroup div div {
  min-width: 70px;
  max-width: 100px;

  display: flex;
  justify-content: center;
  flex-basis: 0px;
  flex-grow: 1;

  height: 30px;
  line-height: 30px;
  border-radius: 4px;

  text-align: center;
  font-size: 16px;
}

/* 수조 뷰 페이지 (자동) */
.cardGrid .waterQualInfo div {
  width: 16px;
  height: 16px;
  border-radius: 8px;
}

.cardGrid .waterQualInfo > :nth-child(2) {
  font-size: 16px;
  font-weight: 700;
}

.cardGrid .waterQualInfo > :last-child {
  font-size: 12px;
}

/* 수조 뷰 페이지 (수기입력) */
.waterQualInfoInput {
  outline: 1px solid #d9d9d9;
  border-radius: 4px;
  width: 100%;

  margin-bottom: 20px;
}
.waterQualInfoInput > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;

  padding: 20px;
}
.waterQualInfoInput div div {
  /* background: gray; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.waterQualInfoInput div div > :first-child {
  flex-basis: 0;
  flex-grow: 3;
  font-weight: 700;
}
.waterQualInfoInput div div input {
  width: 0;
  flex-basis: 0;
  flex-grow: 8;
  flex-shrink: 1;
}
.waterQualInfoInput div div > :last-child {
  font-size: 12px;
  flex-basis: 0;
  flex-grow: 2;
}

/* 수조동 관리 */
#edit.btnS_LGray_small {
  display: none;
}

/* 수조동 관리 // 모달_그룹만들기 */
.createGrpChildWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.createGrpChild {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.createGrpChild button {
  width: 80px;
  margin-bottom: 10px;
}
.createGrpChildWrapper > :last-child button {
  margin-bottom: 0px;
}

.tankSelect {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  grid-gap: 5px;
  padding: 0px 12px 0px 12px;
  margin-bottom: 40px;
}
.tankSelect div,
input {
  background: #f5f5f5;
  border: 1px solid #e6e6e6;
  color: #a9aab4;

  height: 30px;
  line-height: 30px;

  font-size: 16px;
  text-align: center;
  border-radius: 4px;
}
/* 
.tankSelect div :focus {
  border: 2px solid #404152;
  background: #fff;
  color: #404152;
} */

/* 어류관리 */
/* 어류정보 변동내용 */
.changedInfoInput {
  width: 100%;
  outline: 1px solid #d9d9d9;
  border-radius: 4px;
  overflow: hidden;
}
.changedInfoInput select {
  text-align: center;
}
.changedInfoInput > div {
  width: 100%;
}
/* 내용등록박스 라벨 */
.changedInfoInput > div > :first-child {
  padding: 0 20px 0 20px;
  background: #ededed;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 9px;
}
.changedInfoInput > div > :first-child > :nth-child(2) {
  font-weight: 700;
}
/* 내용등록박스 본문 */
.changedInfoInput > div > :last-child {
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.changedInfoInput > div > :last-child div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
}
.changedInfoInput > div > :last-child div input {
  text-align-last: right;
  padding-right: 30px;
}
/* 박스 아웃라인 */
.changedInfoInput > div > div {
  border-bottom: 1px solid #d9d9d9;
}
.changedInfoInput > div > :last-child {
  border: none;
}

/* 사료급이 */
.foodType {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  width: 100%;
}
.foodType > :first-child {
  width: 100%;
  /* flex-grow: 1; */
}
#foodWeight {
  width: 105px;
  min-width: 105px;

  display: flex;
  align-items: center;
}
#foodWeight input {
  text-align-last: right;
  padding-right: 30px;
}
.tankGroupWrapper {
  background: #fff;
  /* padding: 0 20px 20px 20px; */
  width: 100%;
  margin: -10px 0 0;
}
.tankGroupWrapper p {
  font-size: 16px;
  font-weight: 700;
  text-align: center;

  margin: 18px;
}
.tankGroup {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  grid-gap: 5px;

  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 10px 12px 10px 12px;
}
/* 임시 */
.tankGroup div {
  background: #f5f5f5;
  border: 1px solid #e6e6e6;
  color: #a9aab4;

  height: 30px;
  line-height: 30px;

  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
.tankGroup div .active {
  background: #000;
}
.feedingCount div > :first-child {
  font-weight: 700;
}
.feedingCount div > :last-child {
  color: #f46242;
}
.foodList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  width: 100%;
  border-top: 1px solid #d9d9d9;
}
.foodList div {
  text-align: center;
  width: 100%;
  line-height: 45px;
  height: 45px;
}
.foodList :nth-child(2n + 0) {
  background: #f5f5f5;
}

/* 마이페이지_퀘스트 */
.patternBg {
  background: #fff;
  width: 100%;
  height: 455px;

  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.patternBg > :nth-child(n) {
  position: absolute;
}
.patternBg {
  font-weight: 700;
}
.patternBg .textAssemble {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.greenCircle {
}
.styledBtn {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.styledBtn div {
  width: 100%;
  height: 60px;
  background: #404152;
  border-radius: 10px;
}
.styledBtn a {
  position: absolute;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  right: 50px;
}
/* 마이페이지_퀘스트_진행 */
.railBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  gap: 8px;

  position: relative;
  width: 100%;
}
.railBoxWrapper .rail {
  width: 2px;
  height: calc(100% - 10px);
  position: absolute;
  left: 9px;

  margin-top: 5px;

  background: #d9d9d9;
  opacity: 0.4;
  z-index: 0;
}
.railBoxWrapper .railBox {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;

  width: 100%;
  z-index: 1;
}
.railBox .circleWrapper_black {
  width: 20px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circleWrapper_black > div {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background: #000;
}
.railBox .circleWrapper_blue {
  width: 20px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circleWrapper_blue > div {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #08baed;
}
/*  */
.railBox > p {
  font-size: 12px;
  margin-left: 5px;
}

/* 말풍선 왼쪽 꼬리*/
.pull {
  position: relative;

  width: 100px;

  margin-left: 5px;
  padding: 10px;

  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: #fff;

  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}
.pull:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 100%;
  /* margin-top: -5px; */
  border-width: 5px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
}
.pull:before {
  content: "";
  position: absolute;
  top: 10px;
  right: calc(100% + 1px);
  /* margin-top: -5px; */
  border-width: 5px;
  border-style: solid;
  border-color: transparent #d9d9d9 transparent transparent;
}
.pull > :first-child {
  font-size: 10px;
}
.pull button {
  padding: 0;
}
/* 퀘스트 달성 후 버튼 / 동일 간격 정렬 */
.pull .rowGridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* 장치제어 */
.devCtrlLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  width: 100%;
  padding: 12px 0 12px 0;
}
.devCtrlLabel :first-child {
  font-weight: 700;
  font-size: 16px;
}
.devCtrlLabel > p {
  text-align: center;
  word-break: keep-all;
}
.tankGrpCtrl :first-child {
  size: 16px;
  font-weight: 700;
}
.tankGrpCtrl > div {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0 8px 0 8px;

  width: 100%;
  /* gap: 12px; */
}
.tankGrpCtrl > div > div {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  text-align: center;
  line-height: 25px;
}

/* 장치제어_수조동_수조 */
.deviceInfoWrapper {
  width: 100%;
  height: 150px;
  background: #fff;
  padding: 15px 20px 15px 20px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;

  font-size: 16px;
  font-weight: 700;

  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
}
.deviceInfoWrapper > :last-child {
  display: flex;
  flex-direction: column;
  height: 100%;

  flex-grow: 1;
  /* background: cyan; */
}
/* 장치제어 // 버튼 */
.deviceInfoWrapper > :last-child > :first-child {
  flex-grow: 1;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}
.deviceInfoWrapper > :last-child > :first-child > :first-child {
  font-size: 14px;
  font-weight: 400;
}

/* 장치제어 // 양액기 */
.tipWrapper {
  position: absolute;
  right: 0;
}
.tipWrapper a {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 2px;
}
.nutrientArrContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 5px;

  overflow-wrap: break-word;
  padding: 30px;
}
.nutrientArrContainer div {
  width: 35px;
  height: 35px;
  font-size: 14px;
  text-align: center;
  line-height: 35px;
}

/* 소모품 관리 */
.consListContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 15px 0 15px 0;
  margin: 0 10px 0 10px;
  border-bottom: 1px solid #d9d9d9;

  font-size: 12px;
}
.simpleGrid0 > :last-child {
  /* background: #000; */
  border-bottom: 0;
}
.consListContainer > :first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.consListContainer > :nth-child(2) {
  font-size: 14px;
  font-weight: 700;
}
.consListContainer > :last-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px 0 5px 0;
}
.consListContainer div > .rowStartWrapper {
  gap: 4px;
}
.consListContainer div > .rowStartWrapper > :last-child {
  color: #f46242;
}
/* 소모품관리 재고 추가 소진 입력창 모달 */
.modalTankGrp {
  width: 100%;
  height: 150px;
  overflow: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 10px;
  gap: 20px;
}
.modalTankGrp .tankSelect {
  padding: 0;
  width: 100%;
}
.modalContContainer {
  padding: 15px 0 15px 0;
  font-weight: 700;
}

/* 제품구매 */
.purchaseLabel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #fff;
  padding: 15px 15px 5px 15px;
}
.purchaseLabel > p {
  font-size: 16px;
  font-weight: 700;
  height: 40px;
}
.shoppingCartIcon {
  position: absolute;
  top: 10px;
  right: 15px;
}
.alarm_new {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  font-size: 8px;
  /* font-weight: 700; */
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 16px;
  color: #fff;
  background: #f46242;

  z-index: 4;
}
.ovfContainer {
  overflow-x: scroll;
  width: 100%;
  height: 30px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.ovfContainer a {
  margin: 0 13px 0 13px;
  text-align: center;
}
.ovfContainer a.checked {
  background: #08baed;
  color: #fff;
  padding: 0 27px 0 27px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  margin: 0;
}
.productList {
  width: 100%;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  /* height: calc(100vh); */
  overflow: scroll;
}
.productList .product {
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
  padding: 15px 20px 15px 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  max-height: 150px;
  height: 100%;
}
.product > :first-child {
  margin-right: 20px;
  min-width: none;
}
.soldout {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 4px;
}
.soldout span {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;

  width: inherit;
  height: inherit;
  z-index: 3;

  color: #fff !important;
  font-size: 14px !important;
  font-weight: 400;
  text-align: center;
  line-height: 120px;
}
.product > :nth-child(2) {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  height: 120px;
  padding-top: 10px;
  gap: 8px;
}
.product > :nth-child(2) > :first-child {
  color: #939393;
  font-size: 12px;
}
.product > :nth-child(2) > :nth-child(2) {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  width: inherit;
  text-overflow: ellipsis;
  line-height: 150%;
}
.product > :nth-child(2) > div {
  position: absolute;
  bottom: 0;

  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.product > div > div :first-child {
  color: #404152;
  font-size: 16px;
  font-weight: 700;
}
.product > div > div :last-child {
  color: #939393;
  font-size: 12px;
}
/* 제품구매_제품view */
.PTag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 55px;

  color: #939393;
  font-weight: 400;
  font-size: 12px;
}
.PLabel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;

  background: #fff;
  width: 100%;
  /* height: 30px;/// */
}
.PLabel > p:first-of-type {
  font-size: 18px;
  font-weight: 700;
}
.PLabel > .rowStartWrapper {
  height: 40px;

  display: flex;
}
.PLabel > .rowStartWrapper > :first-child {
  font-size: 20px;
  font-weight: 700;
}
.PLabel > .rowStartWrapper > :nth-child(2) {
  color: #a9aab4;
}
.PLabel > .rowStartWrapper > :last-child {
  color: #fff;
  background: #f46242;
  border-radius: 4px;
  position: absolute;
  right: 20px;

  text-align: center;
  line-height: 20px;

  width: 35px;
  height: 20px;
}
/* 제품 정보 */
.infoContent {
  width: 100%;
  display: grid;
  grid-template-columns: 60px 5fr;
  gap: 10px;
}
.infoContent .accent {
  font-weight: 700;
  align-self: center;
}

.HProductList {
  position: relative;
  overflow: scroll;
}
.HProductList > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 10px;

  width: 120px;
}
.HProductList > div > p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  word-break: normal;
}
.HProductList > div > :last-child {
  font-weight: 700;
  font-size: 16px;
}

.botBtnContainer {
  position: fixed;
  bottom: 0%;

  width: 100%;
  height: 60px;
  padding: 10px 20px 10px 20px;

  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  background: #fff;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.05);

  z-index: 5;
}
.botBtnContainer.active {
  display: flex;
}
.botBtnContainer > div {
  min-width: 40px;
  height: 40px;

  border: 1px solid #d9d9d9;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.optionPopup {
  position: fixed;
  bottom: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #fff;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 15px 15px 0 0;
  width: 100%;

  padding-top: 10px;
}
.optionPopup .optContainer {
  width: 100%;
  padding: 10px 20px 20px 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}
.optionPopup .optContainer > div {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.optionPopup .optContainer > div .simpleGrid0 > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  padding: 10px;
  min-height: 40px;
  border-bottom: 1px solid #d9d9d9;
}
.optionPopup .optContainer > div .simpleGrid0 > div > p {
  word-break: normal;
}
.optionPopup .optContainer > div .simpleGrid0 > div:last-of-type {
  border: none;
}

.optionPopup .optContainer > div > p:first-of-type {
  font-weight: 700;
}
/*  */
.optionPopup .totalOptContainer {
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.optionPopup .totalOptContainer > p:first-of-type {
  font-size: 18px;
  font-weight: 700;
}
.optionPopup .totalOptContainer > div:first-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background: blue; */

  min-height: 30px;
}
.optionPopup .totalOptContainer > div:first-of-type > p {
  font-size: 20px;
  font-weight: 700;
}
.calcBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 88px;
  height: 22px;
}
.calcBtn > button {
  width: 22px;
  height: 22px;

  padding: 0;
  text-align: center;
  line-height: 22px;
  border: 1px solid #d9d9d9;
}
.calcBtn > p {
  width: 44px;
  text-align: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
/* 반응형 */
@media screen and (max-width: 340px) {
  /* 버튼스타일 */
  button {
    font-size: 14px !important;
  }
  /* 마이양식장 */
  .botTabBar {
    font-size: 12px;
  }

  /* 라디오 버튼 간격*/
  .radioBtnWrapper {
    gap: 6px;
  }
  .radioBtnWrapper > div {
    gap: 2px;
  }
  /* 수조 뷰 페이지(수기입력) */
  /* 수조정보 */
  .simpleGrid1 div p {
    font-size: 10px;
  }
  /* 수조 뷰 페이지(수기입력) */
  /* _수질정보 */
  .waterQualInfoInput div div > :first-child {
    flex-basis: 0;
    flex-grow: 4;
    font-weight: 700;
  }
  .waterQualInfoInput div div input {
    width: 0;
    flex-basis: 0;
    flex-grow: 5;
    flex-shrink: 1;
  }
  .waterQualInfoInput div div > :last-child {
    font-size: 10px;
    flex-basis: 0;
    flex-grow: 2;
  }

  /* 퀘스트 */

  /* 제품구매 */
  .productList {
    min-width: none;
  }
  .product div p {
    word-break: keep-all;
  }
}
