@import "reset.css";

@font-face {
  font-family: "Noto Sans KR", sans-serif;
  src: url("/fonts/NotoSansKR-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "pretendard";
  src: url("/fonts/Pretendard-Regular.otf");
}

/* -------------------공통 스타일링 */

body {
  font-family: "Noto Sans KR";
  font-size: 13px;
  font-weight: 400;

  margin: "0";
  padding: "0";

  background-color: #f6f6f6;
}

p {
  color: #404152;
}

.container {
  width: 100vw-40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #fff;
  padding: 0px 20px 20px 20px;
}

.container .HStack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 10px;

  /* background: gray; */
  width: 100%;
}

.container .fullScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  height: calc(100vh - 160px);
  padding-bottom: 50px;
}

.container .label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  font-weight: 700;
  /* background: gray; */
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 30px;
}

.spacer {
  flex-grow: 1;
}

.VSpacer {
  height: 10px;
}

hr {
  color: #d9d9d9;
}

/* 버튼 스타일 */
button {
  padding-right: 10px;
  padding-left: 10px;
}
/* button:disabled {
  opacity: 0.5;
} */
/* fontSize: 16 */
.btnS_black {
  font-size: 16px;
  background: #404152;
  color: #fff;
  border: 1px solid #323343;
  border-radius: 4px;
  height: 40px;
}
.btnS_black_fullW {
  font-size: 16px;
  background: #404152;
  color: #fff;
  border: 1px solid #323343;
  border-radius: 4px;
  height: 40px;

  width: 100%;
}
.btnS_LGray {
  font-weight: 500;
  outline: 1px solid #c2c2c2;
  border-radius: 4px;
  background: #ebebeb;

  height: 40px;
}
.btnS_gray {
  font-size: 16px;
  background: #7d7e98;
  color: #fff;
  border: 2px solid #70718b;
  border-radius: 4px;
  height: 40px;
}
.btnS_gray_fullW {
  font-size: 16px;
  background: #7d7e98;
  color: #fff;
  border: 2px solid #70718b;
  border-radius: 4px;
  height: 40px;

  width: 100%;
}
.btnS_black_small {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  outline: 1px solid #323343;
  border-radius: 4px;
  background: #404152;

  min-width: 105px;
  height: 30px;
}

.btnS_LGray_small {
  font-size: 14px;
  font-weight: 500;
  outline: 1px solid #c2c2c2;
  border-radius: 4px;
  background: #ebebeb;

  min-width: 80px;
  height: 30px;
}

.contentEndWrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;

  padding: 10px 20px 10px 20px;
}

/* 화면에 고정 */
.fixedPosBtnwrapper {
  position: fixed;
  width: 100vw;
  padding: 0px 20px 0px 20px;
  bottom: 30px;
}
.fixedPosBtnwrapper > button {
  width: 100%;
  margin-top: 15px;
}

/* 드롭다운 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: url(/images/dropdownArrow.png) no-repeat right 10px center;
  outline: 1px solid #d9d9d9;
  border: none;
  border-radius: 4px;

  /*  */
  background-color: #fff;
  font-size: 14px;
  padding: 0 12px 0 12px;
  height: 40px;
  min-width: 60px;
}
select::-ms-expand {
  display: none;
}

.miniDropdown {
  height: 30px;
  font-size: 14px;
  font-weight: 500;
  padding-left: 0 10px 0 10px;
  min-width: 78px;
}

.centerAlinedDropdown {
  padding-left: 0;
  background: url(/images/dropdownArrow.png) no-repeat 96% 50%;
  background-color: #fff;
  text-align: center;
}

/* 인풋 */
input[type="text"],
input[type="number"] {
  background: #f5f5f5;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 13px 0 13px;
  min-width: none;
  width: 100%;
  height: 40px;
  text-align: start;
  color: #404152;
}
input[type="checkbox"] {
  width: 18px;
  height: 18px;
  background: #fff;

  margin: 0;
}
input:focus {
  /* background-color: #0cab7c; */
  outline: 1px solid #323343;
}
.inputWithUnitWrapper {
  position: relative;
}
.unit {
  position: absolute;
  right: 10px;
}

/* 토글 */
.tglBtn {
  background: #f5f5f5;
  border: 1px solid #e6e6e6;
  color: #a9aab4;

  height: 30px;
  line-height: 30px;

  font-size: 16px;
  text-align: center;
  border-radius: 4px;
}

/* 헤더 */
.head {
  width: 100vw;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #f3f3f3;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;
}
.head p {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.head .iconL {
  position: absolute;
  left: 0;
  margin-left: 15px;
}
.head .iconR {
  position: absolute;
  right: 0;
  margin-right: 15px;
}

/* 탭1 수정 */
.tab_menu {
  position: relative;
  width: 100vw;
}
.btnList {
  display: flex;
}

.tabBtn {
  /* border: 1px solid #c2c2c2;
  background: #ebebeb; */

  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 50px;
}
.tabBtn a {
  color: #404152;
  font-weight: 500;
  opacity: 0.5;
}
.tabBtn div {
  display: none;
  position: absolute;
  background: #08baed;

  width: 33%;
  height: 4px;

  top: 46px;
}

.tab_inner_wrap {
}

.tab_inner {
  display: none;
}

/*  */
.tabBtn.active {
  background: #fff;
  border-bottom: 1px solid #fff;
}
.tabBtn.active a {
  opacity: 1;
  font-weight: 700;
}
.tabBtn.active div {
  display: block;
}
.tab_inner.active {
  display: block;
}

/* 탭2 */
.btnList2 {
  display: flex;
}

.tabBtn2 {
  border: 1px solid #c2c2c2;
  background: #ebebeb;
  border-radius: 4px 4px 0 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 36px;
}
.tab_inner2_wrap {
}

.tab_inner2 {
  display: none;
}

.tabBtn2.active {
  background: #fff;
  border-bottom: 1px solid #fff;
}

.tab_inner2.active {
  display: block;
}

/* 필드요소 */
.contWrap {
  padding: 15px 20px 15px 20px;

  display: flex;
  flex-direction: column;

  gap: 10px;
}
.fieldContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fieldContent input {
  width: 80%;
}
.fieldContent select {
  width: 80%;
}

/* 하단 탭바 */
.botTabBar {
  position: fixed;
  bottom: 0;

  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px; */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  width: 100%;
  height: 80px;

  border-top: 1px solid #f3f3f3;
  background: #fff;
}

.botTabBar div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.botTabBar a {
  opacity: 0.3;
}
.botTabBar .active a {
  opacity: 1;
}

/* 모달 창 */
.modalWrapper {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);

  /* display: flex; */
  flex-direction: column;
  align-items: center;

  padding: 90px 20px 0 20px;

  width: 100%;
  height: 100%;
}
.modal {
  padding: 0px 12px 0px 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 20px;
  background: #fff;
  /* border: 1px solid #d9d9d9; */
  border-radius: 15px;

  width: calc(100%);
  overflow-x: hidden;
}
.modal > p {
  font-size: 16px;
  font-weight: 700;

  margin: 16px 0 16px 0;
}
.modalBody {
  width: 100%;
}
.modal button {
  background: #08baed;
  border: 1px solid #049bc7;
  color: #fff;
  font-size: 16px;
  font-weight: 500;

  width: calc(100% + 40px);
  height: 40px;
}
.closePopup {
  width: "30px";
  height: "30px";
}

/* 플로팅 버튼 */
.floating-btn {
  width: 60px;
  height: 60px;
  border-radius: 30px;

  position: fixed;
  right: 10px;
  bottom: 90px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #08baed;
  border: #0faad7;
}
.floating-btn div {
  display: flex;
  flex-direction: column;
}
.floating-btn div a {
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  margin-top: 3px;
}

/* 횡스크롤 달력 */
.rowCalendar {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  /* margin-top: 10px; */
  background: #fff;
}
.rowCalendar .YMSelector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: inherit;
}
.rowCalendar .YMSelector div {
  margin: 20px;

  display: flex;
  flex-direction: row;
  gap: 15px;
}
.rowCalendar .YMSelector div .year {
  width: 90px;
}
.rowCalendar .YMSelector div .month {
  width: 65px;
}
.rowCalendar .YMSelector button {
  margin: 20px;
}

.rowCalendar .DSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  /* gap: 3px; */

  width: inherit;
  overflow-x: scroll;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 26px;
}
.rowCalendar .DSelector div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-grow: 1;

  width: 32px;
  margin: 8px;
  /* background: gray; */
}
.rowCalendar .DSelector div > :nth-child(2) {
  text-align: center;
  line-height: 30px;

  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.rowCalendar .DSelector > :first-child {
  color: #f8876e;
}
.rowCalendar .DSelector > :last-child {
  color: #6ec6f8;
}
.rowCalendar .DSelector div > :first-child {
  font-size: 10px;
}
.rowCalendar .DSelector div > :nth-child(2) {
  font-size: 16px;
}
.DSelector .selected > :nth-child(2) {
  background: #404152;
  color: #fff;
  border-radius: 15px;
}

/* 상태별 색상 */
.normal {
  background-color: #0cab7c;
  color: #fff;
}
.alert {
  background-color: #fdd751;
  color: #404152;
}
.danger {
  background-color: #f46242;
  color: #fff;
}

/* 그리드 1 // 사용): 수조정보 등 */
.simpleGrid1 {
  outline: 1px solid #d9d9d9;
  border-radius: 4px;

  display: flex;
  flex-direction: row;

  width: 100%;
  min-height: 75px;

  overflow: hidden;
}

.simpleGrid1 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  gap: 10px;

  outline: 1px solid #d9d9d9;
  height: 75px;
}
.simpleGrid1 div p {
  text-align: center;
}

.simpleGrid1 div > :first-child {
  font-weight: 700;
}

/* 그리드2 // 3*2 */
.simpleGrid2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  outline: 1px solid #d9d9d9;
  border-radius: 4px;
  overflow: hidden;
}
.simpleGrid2 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;

  height: 75px;
  outline: 1px solid #d9d9d9;
}
.simpleGrid2 div > :first-child {
  font-weight: 700;
}
.simpleGrid2 > div > :last-child {
  font-size: 12;
}

/* 카드형 그리드 */
.cardGrid {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, auto));
  grid-template-rows: repeat(5, minmax(50px, auto));
  grid-auto-flow: dense; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;

  width: 100%;
}

.cardGrid > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  flex: auto;
  flex-basis: 0px;
  /* flex-grow: auto; */

  outline: 1px solid #d9d9d9;
  border-radius: 4px;
  min-width: 100px;
  height: 120px;
}

/* 표 */
table {
  outline: 1px solid #d9d9d9;
  border-radius: 4px;
  text-align: center;

  overflow: hidden;
  width: 100%;
}
tr {
  border-bottom: 1px solid #d9d9d9;
}
tr:nth-child(2n + 3) {
  background: #f5f5f5;
}
td :nth-child(2n + 0) {
  background: #f5f5f5;
}
table :last-child {
  border-bottom: none;
}
th,
td {
  height: 45px;
  line-height: 45px;
}
th {
  font-weight: 700;
}
.oneLinedTable tr th {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;
}
.oneLinedTable tr td {
  padding: 0 15px 0 15px;
  text-align: start;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.oneLinedTable p {
  margin: 0 5px 0 5px;
  background: none;
}
.oneLinedTable input {
  width: 18px;
  height: 18px;

  background: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 0;

  margin-right: 14px;
}
.oneLinedTable th > input {
  position: absolute;

  left: 16px;
}

/* -------------------화면 별도 스타일링 */

/* 스플래시 스크린*/
.logo {
  width: "160px";
  height: "63.5px";
}

.catchphrase {
  font-family: "pretendard";
  font-size: 16px;
  font-weight: bold;

  margin-top: 26px;
  margin-bottom: 4px;
}

.greenBox {
  position: absolute;
  background-color: #0cab7c;
}
.blueBox {
  position: absolute;
  background-color: #08baed;
}
.blackObj {
  background-color: #404152;
}
.grayObj {
  background-color: #f3f3f3;
}

/* 스플래시 화면 */
.titleBox {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: #fff;
}

.titleBox .vertical {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* 마이양식장 */
.nurseryStatus {
  background: #fff;
  padding: 20px;
}

.totalStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.totalStatus div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}
.totalStatus div p {
  margin-right: 0.6em;
}
.totalStatus div div {
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  text-align: center;
}

.nurseryGroup {
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;

  padding-bottom: 20px;
}

hr {
  background: #d9d9d9;
  border: 0;
  height: 1px;
}

.nurseryGroup p {
  font-size: 16px;
  font-weight: 700;
  text-align: center;

  margin-top: 13px;
  margin-bottom: 10px;
}

.nurseryGroup div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: inherit;

  justify-content: center;

  gap: 13px;
}

.nurseryGroup div div {
  min-width: 70px;
  max-width: 100px;

  display: flex;
  justify-content: center;
  flex-basis: 0px;
  flex-grow: 1;

  height: 30px;
  line-height: 30px;
  border-radius: 4px;

  text-align: center;
  font-size: 16px;
}

/* 수조 뷰 페이지 (자동) */
.cardGrid .waterQualInfo div {
  width: 16px;
  height: 16px;
  border-radius: 8px;
}

.cardGrid .waterQualInfo > :nth-child(2) {
  font-size: 16px;
  font-weight: 700;
}

.cardGrid .waterQualInfo > :last-child {
  font-size: 12px;
}

/* 수조 뷰 페이지 (수기입력) */
.waterQualInfoInput {
  outline: 1px solid #d9d9d9;
  border-radius: 4px;
  width: 100%;

  margin-bottom: 20px;
}
.waterQualInfoInput > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;

  padding: 20px;
}
.waterQualInfoInput div div {
  /* background: gray; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.waterQualInfoInput div div > :first-child {
  flex-basis: 0;
  flex-grow: 3;
  font-weight: 700;
}
.waterQualInfoInput div div input {
  width: 0;
  flex-basis: 0;
  flex-grow: 8;
  flex-shrink: 1;
}
.waterQualInfoInput div div > :last-child {
  font-size: 12px;
  flex-basis: 0;
  flex-grow: 2;
}

/* 수조동 관리 */
#edit.btnS_LGray_small {
  display: none;
}

/* 수조동 관리 // 모달_그룹만들기 */
.createGrpChildWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.createGrpChild {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.createGrpChild button {
  width: 80px;
  margin-bottom: 10px;
}
.createGrpChildWrapper > :last-child button {
  margin-bottom: 0px;
}

.tankSelect {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  grid-gap: 5px;

  padding: 0 2px 0 2px;
  margin-bottom: 40px;
}
.tankSelect div,
input {
  background: #f5f5f5;
  border: 1px solid #e6e6e6;
  color: #a9aab4;

  height: 30px;
  line-height: 30px;

  font-size: 16px;
  text-align: center;
  border-radius: 4px;
}
/* 
.tankSelect div :focus {
  border: 2px solid #404152;
  background: #fff;
  color: #404152;
} */

/* 어류관리 */
/* 어류정보 변동내용 */
.changedInfoInput {
  width: 100%;
  outline: 1px solid #d9d9d9;
  border-radius: 4px;
  overflow: hidden;
}
.changedInfoInput select {
  text-align: center;
}
.changedInfoInput > div {
  width: 100%;
}
/* 내용등록박스 라벨 */
.changedInfoInput > div > :first-child {
  padding: 0 20px 0 20px;
  background: #ededed;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 9px;
}
.changedInfoInput > div > :first-child > :nth-child(2) {
  font-weight: 700;
}
/* 내용등록박스 본문 */
.changedInfoInput > div > :last-child {
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.changedInfoInput > div > :last-child div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
}
.changedInfoInput > div > :last-child div input {
  text-align-last: right;
  padding-right: 30px;
}
/* 박스 아웃라인 */
.changedInfoInput > div > div {
  border-bottom: 1px solid #d9d9d9;
}
.changedInfoInput > div > :last-child {
  border: none;
}

/* 사료급이 */
.foodType {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  width: 100%;
}
.foodType > :first-child {
  width: 100%;
  /* flex-grow: 1; */
}
#foodWeight {
  width: 105px;
  min-width: 105px;

  display: flex;
  align-items: center;
}
#foodWeight input {
  text-align-last: right;
  padding-right: 30px;
}
.tankGroup {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0px, 1fr));
  grid-gap: 5px;

  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 10px 12px 10px 12px;
}
/* 임시 */
.tankGroup div {
  background: #f5f5f5;
  border: 1px solid #e6e6e6;
  color: #a9aab4;

  height: 30px;
  line-height: 30px;

  font-size: 16px;
  text-align: center;
  border-radius: 4px;
}

/* 반응형 */
@media screen and (max-width: 350px) {
  /* 버튼스타일 */
  .btnS_black {
    font-size: 12px;
  }
  /* 마이양식장 */
  .botTabBar {
    font-size: 12px;
  }

  /* 수조 뷰 페이지(수기입력) */
  /* 수조정보 */
  .simpleGrid1 div p {
    font-size: 10px;
  }
  /* 수조 뷰 페이지(수기입력) */
  /* _수질정보 */
  .waterQualInfoInput div div > :first-child {
    flex-basis: 0;
    flex-grow: 4;
    font-weight: 700;
  }
  .waterQualInfoInput div div input {
    width: 0;
    flex-basis: 0;
    flex-grow: 5;
    flex-shrink: 1;
  }
  .waterQualInfoInput div div > :last-child {
    font-size: 10px;
    flex-basis: 0;
    flex-grow: 2;
  }
}
